*{
    box-sizing: border-box;
}

h1{
    display: inline-block;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.Mservice-stock{
    display: block;
    width: 100%;
}

.header-main{
    display: inline-block;
}

.header-main a{
    text-decoration: none;
    color: rgb(34, 177, 187);
}

/* ============================================== */
.header-mypage{

}

.header-mypage{
    position: absolute;
    display: inline-block;
    /* padding-top: 13px;
    padding-right: 15px; */
    top: 13%;
    right: 0%;
}

.header-mypage a{
    text-decoration: none;
    color: black;
}

.header-mypage strong{
    font-size: 25px;
    margin: 0;
}

/* ============================================== */
.header-search{
    
}

.header-search #header-search-input{
    position: absolute;
    width: 98%;
    height: 35px;
    margin: auto;
    font-size: 22px;
}

.header-search #header-search-btn{
    position: relative;
    width: 35px;
    height: 35px;
    top: 0;
    right: -98%;
    background-color: #fff;
    /* border-style: ; */
    border-color: black;
    padding: 0;

}

.header-btn-icon{
    display: inline-block;
    background-image: url(../img/search_icon.png);
    background-size: 34px 34px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    overflow: hidden;
}

.header-first-line{
    padding-bottom: 10px;
    position: relative;
    margin: 0px 10px 0px 10px;
}

.header-second-line{
    margin: 0px 10px 0px 10px;
}
