<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 주식 정보 보기</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <script src="{{url_for('static',filename='js/index.js')}}"></script>

</head>
<body>
    <header>
        <div class="Mservice-stock">
            <div class="header-first-line">
                <div class="header-main">
                    <h1>
                        <a href="/">
                            <span class="">Mini 증권</span>
                        </a>
                    </h1>
                </div>
                <div class="header-mypage">
                    <a href="">
                        <strong>MY</strong>
                    </a>
                </div>
            </div>
            <div class="header-second-line">
                <div class="header-search">
                    <form action ="\my_news" method="GET">
                        <input id="header-search-input" type="text" name = "search-company"/>
                        <button id="header-search-btn" type="submit">
                            <span class="header-btn-icon"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <hr style="width: 100%;">
        </div>
    </header>
    <main>
        <div id="main-contant">
            <div class="slideshow-container">
                <div class="mystock-slide">
                    <span>test1</span>
                </div>
                <div class="mystock-slide">
                    <span>test2</span>
                </div>
                <div class="mystock-slide">
                    <span>test3</span>
                </div>
                <div class="mystock-slide">
                    <span>test4</span>
                </div>
                <div class="mystock-slide">
                    <span>test5</span>
                </div>
                <div class="mystock-slide">
                    <span>test6</span>
                </div>
                <div class="mystock-slide">
                    <span>test7</span>
                </div>
                <div class="mystock-slide">
                    <span>test8</span>
                </div>
                <div class="mystock-slide">
                    <span>test9</span>
                </div>

                <a class="next-slide" onclick="plus_slides(1)">&#10094;</a>
                <a class="prev-slide" onclick="plus_slides(-1)">&#10095;</a>
            </div>
        </div>
    </main>
</body>
</html>