<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 주식 정보 보기</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <script src="{{url_for('static',filename='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}"></script>
    <script src="../static/js/index.js"></script>
    <script>

    </script>
</head>
<body>
    <header>
        <div class="Mservice-stock">
            <div class="header-first-line">
                <div class="header-main">
                    <h1>
                        <a href="/">
                            <span class="">Mini 증권</span>
                        </a>
                    </h1>
                </div>
                <div class="header-mypage">
                    <a href="">
                        <strong>MY</strong>
                    </a>
                </div>
            </div>
            <div class="header-second-line">
                <div class="header-search">
                    <form action ="\my_news" method="GET">
                        <input id="header-search-input" type="text" name = "search-company"/>
                        <button id="header-search-btn" type="submit">
                            <span class="header-btn-icon"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <hr style="width: 100%;">
        </div>
    </header>
    <main>
        <div id="main-contant">
            <ul class="mystock-ul">
                <li class="mystock-li">
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                </li>
                <li class="mystock-li">
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                </li>
                <li class="mystock-li">
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                </li>
                <li class="mystock-li">
                    <button type="submit" class="mystock-btn">
                        <span class="btn-text">
                            test
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>