<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 주식 정보 보기</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <script>

    </script>
</head>
<body>
    <header>
        <div class="Mservice-stock">
            <div class="header-first-line">
                <div class="header-main">
                    <h1>
                        <a href="/">
                            <span class="">Mini 증권</span>
                        </a>
                    </h1>
                </div>
                <div class="header-mypage">
                    <a href="">
                        <strong>MY</strong>
                    </a>
                </div>
            </div>
            <div class="header-second-line">
                <div class="header-search">
                    <form action ="\my_news" method="GET">
                        <input id="header-search-input" type="text" name = "search-company"/>
                        <button id="header-search-btn" type="submit">
                            <span class="header-btn-icon"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <hr style="width: 100%;">
        </div>
    </header>
    <main>
        <div class="main_stock_news">
            <div id="align-categori">
                <!-- TODO : 색으로 표시하기 -->
                <form action="\my_news" method="GET">
                    <button type="submit" value="0" name="align-keyword" class="keyword">관련도 순</button>
                    <button type="submit" value="1" name="align-keyword" class="keyword">최신 순</button>
                    <button class="blind" value="{{align_crite}}"></button>
                </form>
            </div>
            <div>
                <ul class="main_stock_news_ul">
                    {% for news_info in news[0] %}
                    <li class="box">
                        <a href="{{news[2][loop.index-1]}}" class="news-link" target="_blank"><strong id="news-title">{{news_info}}</strong><br>{{news[1][loop.index-1]}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</body>
</html>