#main-contant{
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.mystock-slide{
    display: none;
}

.next-slide, .prev-slide{
    display: inline;
    width: 20px;
    height: 20px;
    cursor: pointer;
}




