<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 주식 정보 보기</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <script src="{{url_for('static',filename='js/index.js')}}"></script>

</head>
<body>
    <header>
        <div class="Mservice-stock">
            <div class="header-first-line">
                <div class="header-main">
                    <h1>
                        <a href="/">
                            <span class="">Mini 증권</span>
                        </a>
                    </h1>
                </div>
                <div class="header-mypage">
                    <a href="">
                        <strong>MY</strong>
                    </a>
                </div>
            </div>
            <div class="header-second-line">
                <div class="header-search">
                    <form action ="\my_news" method="GET">
                        <input id="header-search-input" type="text" name = "search-company"/>
                        <button id="header-search-btn" type="submit">
                            <span class="header-btn-icon"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <hr style="width: 100%;">
        </div>
    </header>
    <main>
        <div id="main-contant">
            <div class="slideshow-container">
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="삼성전자" class="my-stock">
                            삼성전자
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="대한항공" class="my-stock">
                            대한항공
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="엑시콘" class="my-stock">
                            
                            엑시콘
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="ISC" class="my-stock">
                            ISC
                        </button>
                    </form>
                </div>  
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="에이팩트" class="my-stock">
                            에이팩트
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="와이아이케이" class="my-stock">
                            와이아이케이
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="델타에어라인스" class="my-stock">
                            델타에어라인스
                        </button>
                    </form>
                </div>
                <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="엔비디아" class="my-stock">
                            엔비디아
                        </button>
                    </form>
                </div>
                <!-- <div class="mystock-slide fade">
                    <form action="\my_news" method="get">
                        <button type="submit" name="search-company" value="삼성전자" class="my-stock">
                            test    
                        </button>
                    </form>
                </div> -->
                <a class="prev-slide" onclick="plus_slides(-1)">&#10094;</a>
                <a class="next-slide" onclick="plus_slides(1)">&#10095;</a>
            </div>
            <div class="choise-dot">
                <span class="dot" onclick="currentSlide(1)">삼성전자</span>
                <span class="dot" onclick="currentSlide(2)">대한항공</span>
                <span class="dot" onclick="currentSlide(3)">엑시콘</span>
                <span class="dot" onclick="currentSlide(4)">ISC</span>
                <span class="dot" onclick="currentSlide(5)">에이팩트</span>
                <span class="dot" onclick="currentSlide(6)">와이아이케이</span>
                <span class="dot" onclick="currentSlide(7)">델타</span>
                <span class="dot" onclick="currentSlide(8)">엔비디아</span>
            </div>
        </div>
    </main>
</body>
</html>