#main-contant{
    display: block;
    position: relative;
    width: 50%;
    height: 622px;
    margin: 0 auto;
}


.slideshow-container{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}

.mystock-slide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mystock-slide .my-stock{
    margin-top: 120px;
    width: 100%;
    height: 500px;
}

.next-slide, .prev-slide{
    
    position: absolute;
    top: 370px;
    cursor: pointer;
    width: 30px;
    height: 60px;
    font-size: 40px;
}

.next-slide{
    right: 0;
}


.next-slide:hover, .prev-slide:hover{
    background-color: black;
    color: white;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.dot {
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin: 3px 1px;
    background-color: #bbb;
    border-radius: 38%;
    display: inline-block;
    text-align: center;
    transition: background-color 0.6s ease-in-out;
}


@-webkit-keyframes fade{
    form{opacity: .4}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

.my-stock{
    height: 100%;
}



